*.env
*.db
*.bak
*.misc
*.swp
venv/
__pycache__/

.env*
.devcontainer/devcontainer.env
etc/pi-installer.sh

doc/*.html
doc/*.txt
node_modules
*-secret*

# OPT:
CLAUDE.md

package-lock.json

.pi-subagents/*

# Ignore session for security reasons
var/pi-sessions/*
# Ignore pi-agent stuff
var/pi-agent/auth.json
var/pi-agent/bin/*

# Avoid versioning of pi.dev plugin
var/pi-agent/git/
var/pi-agent/npm/

var/pi-agent/settings.json
var/pi-agent/models.json
var/pi-agent/run-history.jsonl
.DS_Store
debug*.log


# Temp: eval calude-code local install
var/claude-home/* 
var/claude-home/.claude
var/claude-home/.claude.json
var/pi-agent/trust.json
nello-backend.log
apps/tbe/target/*